rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /artifacts/product-issue-tracker-01/public/data/{document=**} {
      allow read, write: if true;
    }
  }
}
