rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /product-issue-tracker-01/issues/{issueId}/{fileName} {
      allow read, write: if true;
    }
  }
}